.sign-in-page {
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin: 30px auto;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    width:unset;
    text-transform: capitalize;
    font-weight: 700;
    > *:first-child {
      margin-bottom: 50px;
    }
  }
}

